@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    background-color: #F8FAFC;
    color:#09122C;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

header{
    background-color:#09122C ;
    color:#F8FAFC;
    width: 100%;
    padding: 20px 0;
}

.header{
    display: inline;
    .img {
        float:inline-start;
    }
}


.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lista {
    list-style-type: none;
} 

.info{
    margin-top: 40px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding-left: 10vh;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:0 auto;
    text-align: center;
    padding: 100px;
}

.container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.aboutme{
    text-align: center;
}

.logo{
    font-size: 40px;
    text-align: center;
}

.navlist{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navlink{
    color:#F8FAFC;
}