html, body{
    background-color: #F8FAFC;
    color:#09122C;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

header{
    background-color:#09122C ;
    color:#F8FAFC;
    width: 100%;
    padding: 20px 0;
}

span > .fs-4{
    color: #F8FAFC;
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lista {
    list-style-type: none;
} 

.info{
    margin-top: 40px;
}

.container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}
